* {
    margin: 0;
    padding: 0;
   }
img {
	border:none;
}
#navigation {
     background-color: #000;
     height: 80px; 
}
.nav p {
	color: white;
	margin-left: 10%;
	font-family: Arial;
	float: left;
	font-size: 250%;
	padding-top: 20px; 
	padding-left: 20px;
}
.nav li {
	color: white;
	list-style-type: none;
	display: inline-block;
	padding-right: 8%;
	padding-top: 33px;
}

.nav a 
{
   text-decoration: none;
   color: #b0b0b0;
}

.nav ul {
	float: right;
    font-family: Arial;
    width: 500px;
    margin-right: 150px; 

}

.header1 {
	background-image: url(header-img.png);
	height: 900px;
}
#header2 {
	margin-left: 8%;
	padding-top: 10%;
	float:left;
	width: 670px;
} 

#header2 a 
{
   text-decoration: none;
   color: #b0b0b0;
}

#header2 .logo-big1
{
	font-size: 100px;
	margin-bottom: 20px;
}

.big-text 
{
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 6%;
	font-weight: normal;
	font-family: ARIAL;
}

#header10 hr 
{
	margin-right: 80%;
	margin-left: 10.5%;
	margin-bottom: 6%;
}

.text-lorem 
{
 line-height: 170%;
 margin-bottom: 6%;
 margin-left: 10%;
 color: #b0b0b0;
 font-family: arial;
}
#header10 button 
{
    background-image: none; 
    background: transparent;
    background-color: transparent;
    padding:1%;
    border: 2px solid #ffffff; /* Поля кнопки */
    border-radius: 2px; 
    color: #ffffff;
    width: 140px; height: 45px; 
    margin-left: 10%;
}

#navigation span 
{
	color: #ff8b38;
}

#header10 span 
{
	color: #ff8b38;
}

#header2 .big-text, .logo-big1  
{
	color: white;
	margin-left: 10%;
	font-family: Arial; 
}

.conteiner 
{
   width: 380px;
   height: 380px;
   background: white;
   float:left;
   margin-top: 13%;
   margin-left: 400px;
   border-radius: 3px;
   overflow: hidden;
}

.conteiner p
{
	text-align: center;
	color: #333333;
	font-family: arial;
	font-weight: bold;
	font-size: 140%;
	margin-top: 20px; 
}

.conteiner span
{
	color: #ff8b38; 
}

.conteiner .textbox
{
   border: none;
   width: 300px;
   margin-left: 40px;
   margin-top: 45px;
   padding: 10px 0;
   font-size: 100%;
   color: #000000;
   border-bottom: 1px solid grey;
   opacity: 0.5;
   text-indent: 1em; 
}

.conteiner .button
{
	background: #ff8b38;
	border: none;
    width: 100%;
    margin-top: 30px;
    padding: 18.1px 0;
    color: white;
    font-size: 100%;
}

.button:hover
{
	box-shadow: 0px 0px 30px -2px #424242;
	background: #e86d16;
}