* {
    margin: 0;
    padding: 0;
   }
img {
	border:none;
}
#navigation {
     background-color: #000;
     height: 80px; 
}
.nav p {
	color: white;
	margin-left: 10%;
	font-family: Arial;
	float: left;
	font-size: 250%;
	padding-top: 20px; 
	padding-left: 20px;
}
.nav li {
	color: white;
	list-style-type: none;
	display: inline-block;
	padding-right: 8%;
	padding-top: 33px;
}

.nav a 
{
   text-decoration: none;
   color: #b0b0b0;
}

.nav ul {
	float: right;
    font-family: Arial;
    width: 500px;
    margin-right: 150px; 

}

.header1 {
	background-image: url(header-img.png);
	height: 900px;
}
#header2 {
	margin-left: 8%;
	padding-top: 10%;
	float:left;
	width: 670px;
} 

#header2 a 
{
   text-decoration: none;
   color: #b0b0b0;
}

#header2 .logo-big1
{
	font-size: 100px;
	margin-bottom: 20px;
}

.big-text 
{
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 6%;
	font-weight: normal;
	font-family: ARIAL;
}

#header10 hr 
{
	margin-right: 80%;
	margin-left: 10.5%;
	margin-bottom: 6%;
}

.text-lorem 
{
 line-height: 170%;
 margin-bottom: 6%;
 margin-left: 10%;
 color: #b0b0b0;
 font-family: arial;
}
#header10 button 
{
    background-image: none; 
    background: transparent;
    background-color: transparent;
    padding:1%;
    border: 2px solid #ffffff; /* Поля кнопки */
    border-radius: 2px; 
    color: #ffffff;
    width: 140px; height: 45px; 
    margin-left: 10%;
}

#navigation span 
{
	color: #ff8b38;
}

#header10 span 
{
	color: #ff8b38;
}

#header2 .big-text, .logo-big1  
{
	color: white;
	margin-left: 10%;
	font-family: Arial; 
}

.conteiner 
{
   width: 380px;
   height: 380px;
   background: white;
   float:left;
   margin-top: 13%;
   margin-left: 400px;
   border-radius: 3px;
   overflow: hidden;
}

.conteiner p
{
	text-align: center;
	color: #333333;
	font-family: arial;
	font-weight: bold;
	font-size: 140%;
	margin-top: 20px; 
}

.conteiner span
{
	color: #ff8b38; 
}

.conteiner .textbox
{
   border: none;
   width: 300px;
   margin-left: 40px;
   margin-top: 45px;
   padding: 10px 0;
   font-size: 100%;
   color: #000000;
   border-bottom: 1px solid grey;
   opacity: 0.5;
   text-indent: 1em; 
}

.conteiner .button
{
	background: #ff8b38;
	border: none;
    width: 100%;
    margin-top: 30px;
    padding: 18.1px 0;
    color: white;
    font-size: 100%;
}

.button:hover
{
	box-shadow: 0px 0px 30px -2px #424242;
	background: #e86d16;
}

<<<<<<< Updated upstream

/*Max's part (social-media)*/
.container2 {
    font: 16px Arial, sans-serif;
    margin:0;
}

.social-media {
	border-bottom: 2px solid #a9a9a9;
}
.social-media h2 {
    color: black;
}
.social-media__text {
    width:400px;
    display:inline-block;
    margin-left: 10%;
    padding: 1%;
    color: #a9a9a9;
}
.social-media__links {
    width:700px;
    display:inline-block;
    float: right;
    margin-right: 10%;
    padding: 1.8%;
}

.social-media a{
  font-size:42px;
  text-decoration:none;
  color: #a9a9a9;
  margin-right:7%;
}
.social-media-body{
  padding:10% 5%;
  background: whitesmoke;
}
.icon-facebook:before {
    content: "";    
}    
.icon-twitter-3:before {
    content: "";
}
.icon-google__x2B_:before {
    content: "";
}
.icon-pinterest:before {
    content: "";
}
.icon-instagram:before {
    content: "";
}
.icon-stumble_upon:before {
    content: "";
}
.icon-rss:before {
    content: "";
}

.tabs-wrapper {
	width:160px;
	margin:0 8%;
	text-align:center;
	display: inline-block;
}
.tabs-wrapper__tabs {
    background: #333333; /*#ff8b38;*/
    padding: 60px 50px;
    margin-top: 2%;
    text-transform: uppercase;
    color: white;
    font-size: 120%;
    font-weight: bold;
    border-radius: 3px;
}
.tabs-wrapper__tabs:hover, .tab-descript__btn:hover{
	background: #ff8b38;
	transition: background 0.3s ease-in; 
	cursor: pointer;
}
.tabs-wrapper__tabs:active, .tab-descript__btn:active{
	background: #86878b;
	cursor: pointer;
}
.tab-descript {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    line-height: : 1.6em;
    margin-top: 2%;
}
.tab-descript h2 {
	margin-bottom: 12%;
}
.tab-descript p {
	margin-bottom: 8%;
	line-height: 1.6;
	 color: #a9a9a9;
}
.tab-descript__btn {
    padding: 3% 5%;
    margin: 3% 0;
    background: #333333;
    color: white;
    border:none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 17px;
}
 .pic {
	display: inline-block;
	vertical-align: top;
	margin: 4% 7%;
}

.sub-list-block {
  text-align: center;
  margin: 8% 0;
}


.sub-list-block-pic{
  display: inline-block;
}

.sub-list-block-text{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-family: arial;
  width: 460px;
  margin-left: 100px;
}

.sub-list-block-text i{
  float: left;
  font-size: 120%;
  color: #ff8b38;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  margin-top: 10px;
}
.sub-list-block-text h2{
  padding-bottom: 30px;
  color: #343434; 
}
.sub-list-line{
  border-bottom: 2px solid #ff8b38;
  width: 70px;
}
.sub-list-block-text h3{
  color: #343434;
  padding: 10px 0;
  margin-left: 90px;
  font-size: 95%;
}
.sub-list-block-text p{
  color: #97979b; 
}
.sub-list-block-text .sub-list{
  padding: 30px 0;
}

.sub-list-2{
  margin-left: 90px;
}